<div class="tab">
      <link href="css/style.css" rel="stylesheet">
      <div class="content">
      		<a class=pdf href=src/resume.pdf><i class="iconfont icon-pdf"></i> PDF简历</a>
<p class=last-modified>最后更新时间：2018年03月</p>
<div class=content>
    <div class=content-bd>
        <div class=content-left>

            <section class=practice>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>实践经历</h2>
                    <span class=section-title-r></span></header>
                  <div class=section-bd>
                    <div class=item>
                        <header class=item-hd>
                            <span class=item-time>2016.03 ~ 至今</span>
                            <a class="btn item-more" href="#" target=_blank>实验室</a>
                            <h3 class=item-name>移动应用开发实验室</h3>
                        </header>
                        <div class=item-bd>
                            <p class=section-content><strong>H5负责人</strong>
                                负责参与项目的研发及维护，此外还负责项目的前端工作分配，参与各创业比赛及路演。
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class=project>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>项目经验</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <div class=item>
                      <header class=item-hd>
                        <span class=item-time>2017.04</span>
                        <a class="btn item-more" href=https://github.com/zhangjing9898/chatToRobot target=_blank>Link</a>
                        <h3 class=item-name>哆说·基于人工智能的英语学习App</h3>
                      </header>
                      <div class=item-bd>
                        <p class=section-content><strong>移动端</strong><strong>Bot framework</strong>
                          前端搭建利用了<em>H5+</em>和<em>MUI框架</em>等相关技术，后台使用了<em>语音合成</em>、<em>语音分析</em>、<em>图像识别</em>、<em>自然语言</em>等人工智能相关技术，该项目也曾多次获奖。
                        </p>
                      </div>
                    </div>
                    <div class=item>
                      <header class=item-hd>
                        <span class=item-time>2017.07</span>
                        <a class="btn item-more" href=https://github.com/zhangjing9898/public_comment target=_blank>Link</a>
                        <h3 class=item-name>globalComment·生活消费平台(移动端)</h3>
                      </header>
                      <div class=item-bd>
                        <p class=section-content><strong>移动端</strong><strong>组件化开发</strong>
                          该项目前端部署基于<em>React</em>框架，技术栈:react+redux+react router+webpack+es6，后台数据采用的mock假数据，同时使用<em>Fetch</em>进行Ajax操作。
                        </p>
                      </div>
                    </div>
                    <div class=item>
                      <header class=item-hd>
                        <span class=item-time>2017.11</span>
                        <a class="btn item-more" href=https://github.com/zhangjing9898/photoCircle target=_blank>Link</a>
                        <h3 class=item-name>摄影圈·摄影作品共享网站</h3>
                      </header>
                      <div class=item-bd>
                        <p class=section-content><strong>网站开发</strong><strong>全栈</strong>
                          该网站主要用于摄影爱好者的作品共享，技术栈<em>jquer</em>、<em>node.js</em>、<em>express</em>等，后台数据存储使用<em>mongoDB</em>,数据来源<em>node爬虫</em>，实现了数据的前后端分离。
                        </p>
                      </div>
                    </div>
                    <div class=item>
                      <header class=item-hd>
                        <span class=item-time>2017.12</span>
                        <a class="btn item-more" href=https://github.com/zhangjing9898/manage-money-wx target=_blank>Link</a>
                        <h3 class=item-name>记一笔·记账理财小程序</h3>
                      </header>
                      <div class=item-bd>
                        <p class=section-content>
                          <strong>微信小程序</strong><strong>全栈</strong>
                          该项目基于微信的<em>MINA框架</em>的WXML、WXSS，视图层采用Flex弹性布局，逻辑层采用模块化的开发，项目使用了开放的微信接口，后端采用
                          <em>node.js</em>和<em>express</em>搭建的服务器，<em>mongoDB</em>作为数据库进行数据的存储。在记账的同时还能得到理财产品的相关推荐，
                          给用户来了很好的体验。
                        </p>
                      </div>
                    </div>
                    <div class=item>
                        <header class=item-hd>
                            <span class=item-time>2018.03</span>
                            <a class="btn item-more" href=https://github.com/zhangjing9898/music-player-vue target=_blank>Link</a>
                            <h3 class=item-name>ChickenMusic·全能音乐播放器
                            </h3>
                        </header>
                        <div class=item-bd>
                            <p class=section-content><strong>移动端</strong><strong>组件化开发</strong>
                              项目技术栈：MVVM框架：<em>Vue.js</em>
                              状态管理：<em>Vuex</em>
                              前端路由：<em>Vue Router</em>
                              服务端通讯：<em>axios、jsonp</em>
                              移动端滚动库：<em>better-scroll</em>
                              构建工具：<em>webpack 2.0</em>
                              主要用<em>es6</em>书写，数据API统一调用了开放的QQ音乐数据接口。
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <section class=skill>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>专业技能</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <ul class=section-list>
                      <li><p class=section-content><i class="iconfont icon-dot"></i>熟悉<em>HTML5</em>、<em>CSS3</em>、<em>Less</em>、<em>JavaScript</em>、<em>ES6</em>，能完全还原设计稿。</p></li>
                      <li><p class=section-content><i class="iconfont icon-dot"></i>熟练使用 <em>MVVM</em>框架，用<em>React</em>、<em>Vue</em>各自做过多个项目，熟悉<em>微信小程序</em>，并开发过2个小程序：小程序理财、豆瓣电影+阅读</p></li>
                      <li><p class=section-content><i class="iconfont icon-dot"></i>熟练使用 <em>node.js</em>、<em>mongoDB</em>、<em>jQuery</em>、<em>bootstrap</em>，全栈开发过3个的网站项目<strong>摄影网站</strong>、<strong>教师培训系统</strong>、<strong>学生后台管理系统</strong></p></li>
                      <li><p class=section-content><i class="iconfont icon-dot"></i>熟悉移动端开发，大二利用<em>MUI</em>和<em>H5+</em>，独立开发了一个<strong>结合人工智能的英语学习APP</strong>，该项目也获得多次奖</p></li>
                      <li><p class="section-content"><i class="iconfont icon-dot"></i>了解<em>react native</em>能做简单开发，会基础的<em>Python</em>编程，能做简单爬虫等</p></li>
                      <li><p class=section-content><i class="iconfont icon-dot"></i> 会<strong>设计</strong>，做过<strong>原型</strong>，有点<strong>审美</strong>能力，重视<strong>用户体验</strong></p></li>
                      <li><p class=section-content><i class="iconfont icon-dot"></i> 熟练使用<strong>Git</strong>进行版本控制和代码托管、喜欢逛<strong>github</strong>且长期活跃在<strong>github上</strong>,平时习惯用<strong>Markdown</strong>进行文档编写，并以<strong>WebStorm</strong>、<strong>Hbuilder</strong>作为日常开发环境进行工作，了解项目开发流程及开发调试工具的使用。</p></li>
                    </ul>
                </div>
            </section>

            <section class=prize>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>奖项证书</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <div class=item>
                        <header class=item-hd>
                            <span class=item-time>2017.11</span>
                            <span class=item-more>国家级</span>
                            <h3 class=item-name>全国互联移动创新大赛·三等奖</h3>
                        </header>
                    </div>
                    <div class=item>
                        <header class=item-hd>
                            <span class=item-time>2017.12</span>
                            <span class=item-more>省级</span>
                            <h3 class=item-name>第十一届中国成都国际软件设计与应用大赛·优秀奖</h3>
                        </header>
                    </div>
                    <div class=item>
                        <header class=item-hd>
                            <span class=item-time>2017.12</span>
                            <span class=item-more>校级</span>
                            <h3 class=item-name>获得校内程序设计、网页设计、创新创业等大赛各奖项10余次</h3>
                        </header>
                    </div>
                </div>
            </section>
        </div>
        <header class="content-right content-hd">

            <section class=title>
                <img class=avator src="src/person.jpg">
                <div class=name>
                    <h1>张靖</h1>
                </div>
               <h2 class="job">Web前端开发工程师</h2>
            </section>

            <section class=info>
                <h2>女 / 1998.02.10</h2>
                <h3>成都东软学院 · 信息工程</h3>
                <h3>本科 / 2019年毕业</h3>
                <h3>成绩·全专业前三</h3>
                <h3>英语·CET-4</h3>
                <h3>Office·global BAP证书</h3>
            </section>

            <section class="skill-level">
                <h3>HTML/CSS</h3>
                <div class="item i-html">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>H5移动端开发</h3>
                <div class="item i-css">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>JavaScript/Jquery</h3>
                <div class="item i-js">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>Node.js</h3>
                <div class="item i-js">
                  <i class="in"></i><i class="out"></i>
                </div>
                <h3>React/Vue/ES6</h3>
                <div class="item i-ps">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>微信小程序</h3>
                <div class="item i-sass">
                  <i class="in"></i><i class="out"></i>
                </div>
                <h3>Python / JavaWeb / Java / C</h3>
                <div class="item i-other">
                  <i class="in"></i><i class="out"></i>
                </div>
              </section>

            <section class=contact>
                <ul>
                    <li>
                        <a href=https://zhangjing9898.github.io/ target=_blank>
                            <i class="iconfont icon-homepage"></i>
                            <span class=contact-link>blog:zhangjing9898.io</span>
                        </a>
                    </li>
                    <li>
                        <a href=https://github.com/zhangjing9898 target=_blank>
                            <i class="iconfont icon-github"></i>
                            <span class=contact-link>github.com/zhangjing9898</span>

                        </a>
                    </li>
                    <li>
                        <a href=1105249307@qq.com target=_blank>
                            <i class="iconfont icon-email"></i>
                            <span class=contact-link>1105249307@qq.com</span>

                        </a>
                    </li>
                    <li>
                        <a href=tel:13648030827 target=_blank>
                            <i class="iconfont icon-phone"></i>
                            <span class=contact-link>13648030827</span>
                        </a>
                    </li>
                </ul>
            </section>
        </header>

    </div>
    <footer class=print-footer>
        <a class=footer-link href= target=_blank><i class="iconfont icon-link"></i> PDF简历：resume:zhangjing9898.io</a>
    </footer>
</div>
<footer class=github-footer><a class=footer-link href=https://github.com/zhangjing9898 target=_blank><i class="iconfont icon-link"></i> github.com/zhangjing9898/resume</a>
</footer>
		</div>

      {% include archive-link.html %}
    </div>

