<div class="tab">
      <div class="content">
			<article>
				<h3>2017</h3>
				<section>
					<span class="point-time point-green"></span>
					<time datetime="2013-03">
						<span>September</span>
						<span>2017</span>
					</time>
					<aside>
						<a href="https://github.com/zhangjing9898/Lottery">
							<p class="brief"><span class="text-green">彩票项目 11选5 </span></p>
						</a>
						<p class="things">
							大量使用 ES6 原生语法，也是为了学习 ES6 而实战的项目
							</a>
						</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-purple"></span>
					<time datetime="2012-11">
						<span>August</span>
						<span>2017</span>
					</time>
					<aside>
						<a href="https://github.com/zhangjing9898/wx">
							<p class="brief"><span class="text-purple">微信小程序（豆瓣电影+新闻阅读）</span></p>
						</a>
						<p class="things">这是一个微信小程序，利用豆瓣开放API实现查询热映电影等，新闻阅读有文章阅读、背景音乐等功能。项目完整、UI 美观、交互一流。</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-red"></span>
					<time datetime="2012-09">
				<span>July</span>
				<span>2017</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/public_comment">
							<p class="brief"><span class="text-red">仿大众点评APP</span></p>
						</a>
						<p class="things">类似于大众点评的app,技术栈：react+redux+react router+webpack+es6</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-blue"></span>
					<time datetime="2012-08">
				<span>June</span>
				<span>2017</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/news-headlines">
							<p class="brief"><span class="text-blue">新闻头条</span></p>
						</a>
						<p class="things">pc端与移动端同时适配的一个新闻头条网站，基于react+webpack+es6+antd</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-red"></span>
					<time datetime="2012-03">
				<span>May</span>
				<span>2017</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/chatToRobot">
							<p class="brief"><span class="text-red">Doraemon（自己原创的英语学习APP）</span></p>
						</a>
						<p class="things">这个我自己完全原创的一个APP,利用人工智能来帮助我们学习英语，且有闯关模式，实现了口语场景化等多项功能</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-green2"></span>
					<time datetime="2012-02">
				<span>April</span>
				<span>2017</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/YouDao-dictionary-Test-">
							<p class="brief"><span class="text-green2">仿有道词典APP</span></p>
						</a>
						<p class="things">用MUI框架和H5+开发的仿有道词典app,麻雀虽小，五脏俱全</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-yellow"></span>
					<time datetime="2013-03">
				<span>January</span>
				<span>2017</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/Fly_brid">
							<p class="brief"><span class="text-yellow">Fly-Bird 游戏</p>
						</a>
						<p class="things">这是前几年的一款风靡的游戏,用原生JavaScript实现,网页版</p>
					</aside>
				</section>
			</article>
			<article>
				<h3>2016</h3>
				<section>
					<span class="point-time point-blue"></span>
					<time datetime="2013-03">
				<span>December</span>
				<span>2016</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/Five-in-a-row">
							<p class="brief"><span class="text-blue">人机大战之五子棋</p>
						</a>
						<p class="things">机器方涉及到了比较复杂的算法，原生JavaScript编写的一款经典五子棋游戏</p>
					</aside>
				</section>
				<section>
					<span class="point-time point-grey"></span>
					<time datetime="2013-03">
				<span>November</span>
				<span>2016</span>
			</time>
					<aside>
						<a href="https://github.com/zhangjing9898/Game2048">
							<p class="brief"><span class="text-grey">2048</span></p>
						</a>
						<p class="things">一款经典的滑块游戏，涉及到了2048经典的算法，网页版游戏</p>
					</aside>
				</section>
			</article>
		</div>

      {% include archive-link.html %}
    </div>
